@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-rgb: 237 245 255;
  --green-rgb: 125 161 35;
}

body {
  background-color: rgb(177, 29, 29);
  color: white;
}

body:has(.card[data-color="blue"]:hover) {
  background-color: rgb(var(--blue-rgb) / 25%);
}

body:has(.card[data-color="green"]:hover) {
  background-color: rgb(var(--green-rgb) / 25%);
}

.glassmorphism {
  background: rgba(8, 116, 239, 0.07);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.logo {
  border-radius: 8.889px;
  background: #fff;
  box-shadow: 0px 10px 35px -4px rgba(67, 83, 255, 0.15),
    0px 1.5px 4px -1px rgba(67, 83, 255, 0.2);
}

.block-container {
  position: relative;
  transition: 250ms;
  perspective: 500px;
}

.block-container .btn-back {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: inherit;
  height: inherit;
  transition: 250ms;
  transform-style: preserve-3d;
  transform-origin: bottom right;
  transform: rotateZ(15deg);
  will-change: transform;
  box-shadow: 16px 0 40px #e4e4e4;
}

.block-container .btn-back-red {
  background: linear-gradient(135deg, #ff4b1f -20%, #ff9068 120%);
}

.block-container .btn-back-green {
  background: linear-gradient(135deg, #adfda2 -20%, #11d3f3 120%);
}

.block-container .btn-back-yellow {
  background: linear-gradient(135deg, #f7971e -20%, #ffd200 120%);
}

.block-container .btn-back-blue {
  background: linear-gradient(135deg, #0061ff -20%, #60efff 120%);
}

.block-container .btn-back-orange {
  background: linear-gradient(135deg, #ff0f7b -20%, #f89b29 120%);
}

.block-container .btn-back-pink {
  background: linear-gradient(135deg, #e81cff -20%, #40c9ff 120%);
}

.block-container .btn-back-black {
  background: linear-gradient(135deg, #0a1647 -20%, #e4e7e4 120%);
}

.block-container .btn-front {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: inherit;
  height: inherit;
  background-color: #ffffff33;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  transition: 250ms;
  transform-style: preserve-3d;
  transform-origin: top left;
  overflow: hidden;
}

.block-container:hover > .btn-back {
  transform: translateZ(20px) rotateZ(15deg) rotateX(-20deg) rotateY(-20deg);
}

.block-container:hover > .btn-front {
  transform: translateZ(80px) translateY(-5px) rotateX(15deg) rotateY(15deg);
}

/* Neo Brutalism */
.neo-brutalism-blue {
  background: #2b77e7;
  position: relative;
  border-radius: 10px;
  border: #2b77e7;
  box-shadow: 0.6vmin 0.6vmin #336cc1, 1vmin 1vmin #0092db, 1vmin 1vmin #0092db,
    0.65vmin 1vmin #0092db, 1vmin 0.65vmin #0092db;
}

.neo-brutalism-white {
  background: #fff;
  border: #fff;
  box-shadow: 0.6vmin 0.6vmin #fff, 1vmin 1vmin #d2e4ff, 1vmin 1vmin #d2e4ff,
    0.65vmin 1vmin #d2e4ff, 1vmin 0.65vmin #d2e4ff;
}

  .skills-section {
    min-height: 100vh;
    width: 100%;
    position: static;
  }

  .SkillIcon:hover {
    transform: scale(1.25);
    transition:0.3s;
  }

  /* May want to add some sort of graphic for the skill box bottom margins eventually*/
  @media (min-width: 1234px) {
    .skill-block:nth-child(1) {
        margin-top: 100px;
    }
    .skill-block:nth-child(2) {
        margin-top: 0px;
    }
    .skill-block:nth-child(3) {
        margin-top: 150px;
    }
  }

  @media (max-width: 1233px) {
  .custom-order-0 { order: 2; }
  .custom-order-1 { order: 3; }
  .custom-order-2 { order: 1; }
}

  .projects-section {
    min-height: 100vh;
    width: 100%;
    position: static;
    padding: "sm:px-16 px-6 sm:py-16 py-10",
  }

  .exp-section {
    min-height: 100vh;
    width: 100%;
    position: static;
  }
  


/* CONTACT SECTION STUFF */

  .contact-section {
    min-height: 46vh; /* 92vh; (8vh is for the nav menu) */
    width: 100%;
    position: static;
  }

  @media (max-width: 767px) {
    .contact-section {
      min-height: 50vh; /* 100vh; */
      width: 100%;
      position: static;
    }
  }

/* General button styling */
.pixel-button {
  display: inline-block;
  width: 32px; /* Width of a single frame in the spritesheet */
  height: 32px; /* Height of a single frame in the spritesheet */
  background-repeat: no-repeat;
  background-position: 0 0; /* Default position (normal state) */
  cursor: pointer;
  transition: transform 0.2s;
  scale: 2;
}

/* Overwrites pixel button with button image classes */
.linkedin-button.pixel-button {
  background-image: url('../assets/linkedin_button.png');
}

.github-button.pixel-button{
  background-image: url('../assets/github_button.png');
}

/* Hover state */
.pixel-button:hover {
  background-position: -32px; /* Shift to the second frame in the spritesheet */
  transform: scale(1.1); /* Slight zoom effect for hover */
}

/* Active (clicked) state */
.pixel-button:active {
  background-position: -32px; /* Shift to the second frame in the spritesheet */
  transform: scale(0.95); /* Slight shrink effect for active */
}


/* Sprite Sheet Animation Stuff */

.react-responsive-spritesheet-container__move {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  }

.hero-section {
  height: 1600px;
  width: 100%;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-image: linear-gradient(#151030, #050816)
}

@media (max-width: 767px){
  .hero-section {
    height: 1100px;
    width: 100%;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    background-image: linear-gradient(#151030, #050816);
  }
}


.sprite {
  background-size: cover;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

@media (max-width: 767px) {
  .sprite-1{
    position: absolute;
    width: 770px;
    top: 1200px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
  }
}
@media (min-width: 768px){
  .sprite-1{
  position: absolute;
  width: 2000px;
  top: 1600px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
}
}
  

.sprite-2 {
  position: absolute;
  width: 2000px;
  z-index: 1;
}

.sprite-me {
  position: absolute;
  width: 600px;
  top: 220px;
  z-index: 2;
  margin-left: 150px;
}

@media (max-width: 767px){
.sprite-me {
  position: absolute;
  width: 300px;
  top: 220px;
  z-index: 2;
  margin-left: 0px;
}}

.sprite-cat {
  position: absolute;
  width: 450px;
  z-index: 3;
  margin-left: 50%;
  margin-top: 700px;
}

@media (max-width: 767px){
.sprite-cat {
  position: absolute;
  width: 200px;
  z-index: 3;
  margin-left: 45%;
  margin-top: 650px;
}}

.sprite-painting {
  height: 300px;
  width: 200;
  top: 240px;
  right: 400px
}





/* Text And Font Styles */

h5 {
  font-size: 20px;
}

h1 {
  font-size: 50px;
}

.start2p {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.tiny5-regular {
  font-family: "Tiny5", serif;
  font-weight: 400;
  font-style: normal;
}

.silkscreen-regular {
  font-family: "Silkscreen", serif;
  font-weight: 400;
  font-style: normal;
}

.silkscreen-bold {
  font-family: "Silkscreen", serif;
  font-weight: 700;
  font-style: normal;
}  

.pixelify-sans-regular {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* Projects Section */

@media (min-width: 768px){
.phone_reveal {
  max-width: 400px;
  position: relative;
}}

@media (max-width: 767px) {
  .phone_reveal {
    max-width: 300px;
    position: relative;
  }
}

.buttons_container {
  display: flex;
  margin-top: 20px;
  margin-left: 30px;
}
.button {
  border: 3px solid #000;
  background: #151030;
  margin: 5px 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0);
}

.active {
  background-color: #6f6994;
  color: #000000;
}


/* Overlay Styles */

.overlay {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align content at the top */
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  padding-top: 80px; /* Push content below the nav bar */
}

.overlay-content {
  background: #151030;
  padding: 2rem;
  border-radius: 8px;
  max-width: 800px;
  width: 90%;
  position: relative;
  overflow: auto; /* Enable scrolling */
  max-height: 97.5%; /* Limit height to 97.5% of the screen. This adds some whitespace at bottom of overlay. */
}

.overlay-content button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}





/* Experience Section */

  /* Timeline */
  /* NOTE: overflow hidden hides line extension from top 30px extension */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
  overflow: hidden;
}

/* The Line */

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 0; /* Start with height 0 */
  background: #fff;
  top: 30px;
  left: 50%;
  margin-left: -3px;
  z-index: 0;
  transition: height 2s linear; /* Smooth transition */
}

.timeline.animate-line::after {
  height: 100%; /* Full height when the class is added */
}

@keyframes moveline{
  0%{
    height: 0;
  }
  100%{
    height: 100%;
  }
}

.timeline-container {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  z-index: 1;
  opacity: 0; /* Initially hidden */
  transform: translateY(20px); /* Start position for animation */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition */
}

.timeline-container.animate {
  opacity: 1; /* Make visible */
  transform: translateY(0); /* Move to final position */
}


@keyframes movedown{
  0%{
    opacity:1;
    transform: translateY(-20px);
  }
  100%{
    opacity:100%;
    transform: translateY(0px);
  }
}
/* NOTE: After adding more jobs you will need to add to animation here.*/
.timeline-container:nth-child(1){
  animation-delay: 0s;
}

.timeline-container:nth-child(2){
  animation-delay: 1s;
}



.timeline-container img{
  position:absolute;
  right: -100px;
  top:-40px;
}

.timeline-left {
  left: 0;
}

.timeline-right {
  left: 50%;
}

.timeline-right img{
  left: -100px;
}

/* Timeline Container Arrows */
.timeline-left-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 45px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid white;
  right: 35px;
}
.timeline-right-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 45px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid white;
  left: 35px;
}

/* Timeline Text & Contents */
.text-box {
  padding: 20px 30px;
  background: #fff;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
  color:#000;
}

.text-box small{
  display: inline-block;
  margin-bottom: 15px;
}


/* Timeline Mobile Settings */

@media screen and (max-width:1200px){
  .timeline{
    margin:50px auto
  }
  .timeline::after{
    left: 31px;
  }
  .timeline-container{
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }

  .timeline-left img, .timeline-right img{
    left: -70px;
    z-index: 10;
  }

  .timeline-right{
    left: 0;
  }
  .timeline-right-arrow, .timeline-left-arrow{
    border-right: 15px solid white;
    border-left: 0;
    left: 65px;
    z-index: 45;

  }
}